doctype html
html
	head
		title= DHCPD
		link(rel='stylesheet' type='text/css' href='/css/base.css')
		script(type='text/javascript', src='js/utils.js')
	
	body
		#titleheader
			h1= 'Current DHCP Leases'

		#searcher
			input.paddedinput(type='text', id='myInput', placeholder='Search For...', size='32', onkeyup='sorter()')

		table#fancytable
			tr
				th IP Address
				th MAC
				th Hostname

script.
	var cp = '#{clientpath}';
	//console.log('#{clientpath}');
	var ws = new WebSocket(cp);
	//- event emmited when connected
	ws.onopen = function () {
		//console.log('Connected to server');
		//- sending a send event to websocket server
		ws.send(JSON.stringify('webclient'));
		//console.log('Sent a message');
	}
	ws.onmessage = function (ev) {
		//console.log(ev);
		//console.log(ev.data);
		if (ev.data != 'Connection established!') {
		//console.log(JSON.parse(ev.data));
		var data = JSON.parse(ev.data);
		var count = 1;
			for (i in data) {
				var table = document.getElementById("fancytable");
				var row = table.insertRow(count);
				var cell1 = row.insertCell(0);
				var cell2 = row.insertCell(1);
				var cell3 = row.insertCell(2);
				cell1.innerHTML = data[i].ip;
				cell2.innerHTML = data[i]["hardware ethernet"];
				cell3.innerHTML = data[i]["client-hostname"];
				count++;
			}
		}
	}


